<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link icon="assets/images/logo2.png">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center ">
                <h1 class="mb-4 animate__animated animate__bounceInUp">Contact Me</h1>
            </div>
        </div>



        <div class="row no-gutters block-9">
            <div class="col-md-6 order-md-last d-flex">
                <!-- <form [formGroup]="sendEmail" class="bg form-container  p-md-5">
                    <h2 class="text-center" style="color:black;font-weight: 600;">Message Me</h2>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Name" formControlName="name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Email" formControlName="email">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Subject" formControlName="subject">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"
                            formControlName="message"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" (ngSubmit)="onSend()" value="Send Message" class="btn  py-3 px-5">
                        <button [disabled]="sampleForm.form.invalid" type="submit" class="btn btn-default">Sign
                                            up</button>
                    </div>
                </form> -->

                <form (ngSubmit)="onSubmit(sampleForm)" #sampleForm="ngForm" class="bg form-container  p-md-5">
                    <h2 class="text-center" style="color:black;font-weight: 600;">Message Me</h2>

                    <!-- Name -->
                    <div class="form-group">
                        <input name="firstname" type="text" class="form-control" placeholder="First Name" [(ngModel)]="firstName"
                            required pattern="^[A-Za-z%+ +-]{2,30}$" #fname="ngModel" minlength="2">

                        <div id="errors" *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
                            <div id="errors" *ngIf="fname.errors.required">
                                First name is required!
                            </div>
                            <div id="errors" *ngIf="fname.errors.minlength">
                                Fisrt name must be atleast 2 characters!
                            </div>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" placeholder="Email" [(ngModel)]="email"
                            pattern="[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required required-notification="Enter your email to send verification email"
                            #emailAdd="ngModel">

                        <div *ngIf="emailAdd.invalid && (emailAdd.dirty || emailAdd.touched)" class="alert alert-danger">
                            <div id="errors" *ngIf="emailAdd.errors.required">
                                Email is required!
                            </div>
                            <div id="errors" *ngIf="emailAdd.errors.pattern">
                                Email is invalid. It must be like <i>"example@gmail.com"</i>
                            </div>
                        </div>
                    </div>
                    <!-- Message -->
                    <div class="form-group">
                        <textarea name="message" type="message" cols="30" rows="7" class="form-control" placeholder="Message" [(ngModel)]="message"
                            required required-notification="Enter your email to send verification message" #messages="ngModel"></textarea>

                        <div *ngIf="messages.invalid && (messages.dirty || messages.touched)" class="alert alert-danger">
                            <div id="errors" *ngIf="messages.errors.required">
                                Message is required!
                            </div>
                        </div>
                    </div>
                    <!-- Sign Up Button -->
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input [disabled]="sampleForm.form.invalid" type="submit" class="btn btn-default">
                        </div>
                    </div>
                </form>

            </div>

            <div class="col-md-6 d-flex">
                <img src="assets/images/mee.png" alt="" srcset="">
            </div>

        </div>
        <div class="row d-flex contact-info mb-5">
            <div class="col-md-6 col-lg-3 d-flex ">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img draggable="false" style="height: 3rem" src="assets/images/address.svg">
                    </div>
                    <h3 class="mb-4">Address</h3>
                    <p>San Alberto Carmelite Formation Center, Naspit Road, Talamban Cebu City, Cebu</p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex ">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img draggable="false" style="height: 3rem" src="assets/images/phone.svg">
                    </div>
                    <h3 class="mb-4">Contact Number</h3>
                    <p><a href="#Contact">0956 817 7656</a></p>
                </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex ">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img draggable="false" style="height: 3rem" src="assets/images/paper-plane.svg">
                    </div>
                    <h3 class="mb-4">Email Address</h3>
                    <p><a href="mailto:ziekind07@gmail.com">ziekind07@gmail.com</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex ">
                <div class="align-self-stretch box p-4 text-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img draggable="false" style="height: 3rem" src="assets/images/search.svg">
                    </div>
                    <h3 class="mb-4">Website</h3>
                    <p><a href="#">dsdsd</a></p>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>

    <script src="js/main.js"></script>
</body>

</html>