<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link icon="assets/images/logo2.png">

</head>

<body>


    <div class="container">
        <div class="card shadow-lg p-3 mb-5 ">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <img draggable="false" src="assets/images/me1.png" class="card-img-top" alt="judilyn but-anon">
                    </div>
                    <div class="col">
                        <div class="title">KEEP IN TOUCH</div>
                        <div>
                            <input type="text" name="name" id="name" value="Jude">
                            <input type="email" name="email" id="email" value="07judilynb@gmail.com">
                            <input type="text" name="subject" id="subject" value="Test">
                            <input type="text" name="message" id="message" value="Test message ♥">
                            <input type="button" value="Send Message">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>