body {
    font-family: Poppins;
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    /* margin-top: 3rem; */
    height: 32rem;
    padding: 20px;
    /* background-color: lightblue; */
}

a {
    color:#FF3081
}

.form-control {
    margin: 5;
    padding: .7rem;
    width: 22rem;
}


.message {
    height: 10rem;
}

button {
    width: 7rem;
    border-radius: 25px;
    padding: 10px;
    margin-left: 6rem;
    margin-top: 6rem;
}
.form-container {
    background-color: #FF3081;
}


    /* For mobile phones: */
    @media only screen and (max-width:500px) {
    
    body {
        margin-top: 5rem;
        height: 32rem;
        width: 100%;
        text-align: center;
        height: auto;
    }
    .container {
        margin-top: 5rem;
        height: 32rem;
        width: 100%;
        background-color: lightblue;
        text-align: center;
        height: auto;
        padding: 0%;
    }
    img{
      width: 100%;
      height: auto;
    }
    .form-container{
        margin: 2;
        padding: .7rem;
        width: 100%;
    }
    .form-control {
        /* margin: 5; */
        /* padding: .7rem; */
        width: 18.5rem;
    }
    
  }



  * {
    box-sizing: border-box;
  }
