<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container">
        <div class="card shadow-lg p-3 mb-5 ">
            <div class="inside-card">
                <div class="card-body">
                    <img draggable="false" class="rounded-circle" src="assets/images/me1.png" alt="" style="float: left;">
                    <div class="right-header">
                        <div class="vl"></div>
                        <h3 class="myname">JUDILYN S. BUT-ANON</h3>
                        <hr>
                        <p class="pink-font">SOFTWARE DEVELOPER
                        </p>
                        <p class="personal-info">
                            <img draggable="false" src="assets/images/phone1.png" alt="phone"> 09385981050
                            <br>
                            <img draggable="false" src="assets/images/mail1.png" alt="mail"> ZIEKIND07@GMAIL.COM
                            <br>
                            <img draggable="false" src="assets/images/baseline_location_on_black_18dp.png" alt="location">
                            NASIPIT RD., TALAMBN, CEBU CITY, CEBU
                        </p>
                    </div>
                </div>

                <hr class="divider">

                <div class="card-body">

                    <div class="row">

                        <div class="left-side">
                            <div>
                                <img draggable="false" src="assets/images/baseline_school_black_18dp.png" alt="education"
                                    class="icons">
                                <h4>EDUCATION</h4>
                                <p class="background-info">UNIERSITY OF SAN CARLOS <br> 2018-2021</p>
                                <hr class="hr4">
                                <p class="background-info">CERTIFICATE IN COMPUTER TECHNOLOGY</p>
                            </div>
                        </div>

                        <div class="vertical-divider"></div>

                        <div class="right-side">

                            <div>
                                <img draggable="false" src="assets/images/date.png" alt="education" class="icons">
                                <h4>BIRTHDATE</h4>
                                <p class="background-info">JULY 30 <br> 2000</p>
                                <hr class="hr4">
                                <p class="background-info">KALABUGAO, IMPASUGONG, BUKIDNON</p>
                            </div>

                        </div>

                    </div>
                </div>
                <hr class="divider">
                <div class="container-footer">
                    <a class="account-link" href="http://www.facebook.com/ziekind">
                        <img draggable="false" src="assets/images/facebook-large.png" alt="facebook-account" class="icons">
                    </a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>