<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container shadow-lg p-3 mb-5 rounded">
        <div class="card left-card" style="width: 20rem;">
            <img draggable="false" src="assets/images/me1.png" class="card-img-top" alt="judilyn but-anon">
            <div class="card-body">
                <h5 class="card-title h4">Judilyn S. But-anon</h5>
                <p class="card-text">
                    Software/Web developer
                </p>
            </div>
        </div>
        JOKE PA NI
        <div class="card right-card">
            <p>Name : Judilyn S. But-anon</p>
            <p>Birthdate : July 30, 2000</p>
            <p>Age : 20</p>
            <p>School Attended : University of San Carlos <br><i>Current</i></p>
        </div>
    </div>

</body>

</html>