<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <div class="container shadow-lg p-3 mb-5 rounded">
        <div class="card left-card" style="width: 20rem;">
            <img draggable="false" src="assets/images/me1.png" class="card-img-top" alt="judilyn but-anon">
            <div class="card-body">
                <h5 class="card-title h4">{{myName}}</h5>
                <p class="card-text">
                    {{myPosition}}
                </p>
            </div>
        </div>
        <h1 style="color: aliceblue;">Still working on it</h1>
        <div class="card right-card">
            <p>Name : {{myName}}</p>
            <p>Birthdate : {{myBMonth}} {{myBDay}}, {{myBYear}}</p>
            <p>Age : {{myAge}}</p>
            <p>School Attended : {{mySchool}} <br><i>Current</i></p>
        </div>
    </div>

</body>

</html>