/* body {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 49rem;
    padding: 20px;
    margin-top: 3rem;
}

.card {
    width: 46.6rem;
    padding: 20px;
    background-color: #ffbd4a;
}

.inside-card {
    background-color: #fff5e7;
    text-align: center;
}

.card-body {
    margin-bottom: 3rem;
}

.rounded-circle {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
}

.right-header {
    width: 25rem;
    margin-left: 15rem;
    margin-top: 2rem;
}

.pink-font {
    color: #ee495d;
    font-size: 20;
}

.personal-info{
    text-align: left
}

hr {
    border: 0.13rem solid #ffbd4a;
    width: 7rem;
}

.divider {
    border: 0.13rem solid #ffbd4a;
    width: 43rem;
}

.left-side {
    float: left;
    width: 18rem;
    margin-left: 1rem;
}

.right-side {
    width: 20rem;
    margin-left: 1rem;
    margin-top: 0rem;
}

.vertical-divider {
    border: 0.13rem solid #ffbd4a;
    height: 15rem;
    margin-left: 1rem;
    margin-top: 0rem;
    background-color: black;
    width: 0;
}

.container-footer{
    text-align: left;
    margin-left : 1rem;
    margin-bottom : 1rem;
}

.account-link{
    font-size: 15px;
}

img {
    width: 1.5rem;
}

a {
    padding-right: 10px;
} */

body {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke
}

.container{
    margin-top : 5rem;
}

.pink-font{
    font-weight: bold;
    color: #FF3081;
}

.btn {
    background-color : #FF3081;
    font-weight: bold;
}