<!-- <h1>this is hobbies page</h1> -->
<link icon="assets/images/logo2.png">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="<?php echo $this->config->base_url(); ?>" /> -->
</head>

<body>

    <div class="container-fluid container text-center">
        <h1 class="text-center">My Hobbies</h1>
        <div class=" container text-center">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 photo_container ">
                    <div class="see_more text-center">
                        <span>Playing Volleyball makes me feel active</span>
                    </div>
                    <article class="text-left">
                        <h2>Volleyball</h2>
                    </article>
                    <img src="assets/images/6volleyball.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 photo_container">
                    <div class="see_more text-center">
                        <span>Reading makes my mind work</span>
                    </div>
                    <article class="text-left">
                        <h2>Reading</h2>
                        <h4></h4>
                    </article>
                    <img src="assets/images/1book.png" alt="">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 photo_container">
                    <div class="see_more text-center">
                        <span>Playing Guitar makes me feel at home</span>
                    </div>
                    <article class="text-left">
                        <h2>Guitar</h2>
                    </article>
                    <img src="assets/images/2guitar.png" alt="">
                </div>
            </div>
        </div>
    </div>

</body>

</html>