<!-- <h1>this is hobbies page</h1> -->
<link icon="assets/images/logo2.png">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="<?php echo $this->config->base_url(); ?>" /> -->
</head>

<body>

    <div class="container shadow-lg p-3 mb-5 ">

        <div class="card  p-3 mb-5 rounded">
            <div class="card-body">
                <img draggable="false" class="hobbies" src="assets/images/2guitar.png" alt="guitar logo">
                <h1>Playing Guitar</h1>
                <hr>
                <p>When I want to be alone, I play guitar to calm my heart and mind. And if I have time, I play with my siblings.</p>
            </div>
        </div>

        <div class="card  p-3 mb-5 rounded">
            <div class="card-body">
                <img draggable="false" class="hobbies" src="assets/images/3badminton.png" alt="">
                <h1>Playing Badminton</h1>
                <hr>
                <p></p>
            </div>
        </div>

        <div class="card  p-3 mb-5 rounded">
            <div class="card-body">
                <img draggable="false" class="hobbies" src="assets/images/1book.png" alt="">
                <h1>Reading Books</h1>
                <hr>
                <p>Everyday, I always make sometime to read a book.</p>
            </div>
        </div>

        <div class="card  p-3 mb-5 rounded">
            <div class="card-body">
                <img draggable="false" class="hobbies" src="assets/images/6volleyball.png" alt="">
                <h1>Playing Volleyball</h1>
                <hr>
            </div>
        </div>

        <!-- <div class="card shadow-lg p-3 mb-5 rounded">
        <div class="card-body">
            <img draggable="false" class="hobbies" src="assets/images/code.png" alt="">
            <h1>Coding</h1>
            <hr>
        </div>
    </div> -->
    </div>

</body>

</html>