body {
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    width: 49rem;
    padding: 20px;
    margin-top: 3rem;
    text-align: center;
}

.card {
    width: 20rem;
    padding: 20px;
    background-color: #ffbd4a;
}

.inside-card {
    background-color: #fff5e7;
}

.rounded-circle {
    width: 10rem;
    height: 10rem;
}