<!-- <h1>this is hobbies page</h1> -->
<link icon="assets/images/logo2.png">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- <div class="container">
    <div class="card shadow-lg p-3 mb-5 ">
        <div class="inside-card">
            <div class="card-body">
                <img draggable="false" class="rounded-circle" src="assets/images/me1.png" alt="" style="float: left;">
                <div class="right-header">
                    <div class="vl"></div>
                    <h3 class="myname">JUDILYN S. BUT-ANON</h3>
                    <p class="pink-font">SOFTWARE DEVELOPER
                    </p>
                    <p class="personal-info">
                        <img draggable="false" src="assets/images/phone1.png" alt="phone"> 09385981050
                        <br>
                        <img draggable="false" src="assets/images/mail1.png" alt="mail"> ZIEKIND07@GMAIL.COM
                        <br>
                        <img draggable="false" src="assets/images/baseline_location_on_black_18dp.png" alt="location">
                        NASIPIT RD., TALAMBN, CEBU CITY, CEBU
                    </p>
                </div>
            </div>

            <hr>

            <div class="card-body">
                <div class="row">
                    <div class="left-side">
                        <div>
                            <img draggable="false" src="assets/images/baseline_school_black_18dp.png" alt="education"
                                class="icons">
                            <h4>EDUCATION</h4>
                            <p class="background-info">UNIERSITY OF SAN CARLOS <br> 2018-2021</p>
                            <hr class="hr4">
                            <p class="background-info">CERTIFICATE IN COMPUTER TECHNOLOGY</p>
                        </div>

                        <hr class="hr3">

                        <div>
                            <img draggable="false" src="assets/images/baseline_integration_instructions_black_18dp.png"
                                alt="software" class="icons">
                            <h4>SOFTWARE</h4>
                            <p class="background-info">
                                <ul>
                                    <li>CODEIGNITER</li>
                                    <li>ANGULAR</li>
                                    <li>JAVA</li>
                                    <li>VUEJS</li>
                                    <li>LARAVEL</li>
                                </ul>
                        </div>
                    </div>

                    <div class="vertical-divider"></div>

                    <div class="right-side">

                        <div>
                            <img draggable="false" src="assets/images/baseline_work_black_18dp.png" alt="experience"
                                class="icons">
                            <h4>EXPERIENCE</h4>
                            <ul class="text-center">
                                <p class="background-info">PRIMIUM TECH <br> FULL STACK DEVELOPER</p>
                                <hr class="hr4">
                                <p class="background-info">2020</p>
                            </ul>
                        </div>

                        <hr class="hr5">

                        <div>
                            <img draggable="false" src="assets/images/baseline_analytics_black_18dp.png" alt="skills"
                                class="icons">
                            <h4>SKILLS</h4>
                            <ul>
                                <li>BASIC PROGRAMMER</li>
                                <li>BASIC GUITAR PLAYING</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <hr>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="row justify-content-center pb-5">
        <div class="col-md-10 heading-section text-center">
            <h1 class="big big-2">Resume</h1>
            <p></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="resume-wrap">
                <span class="date">2018-PRESENT</span>
                <h2>Certificate in Computer Technology</h2>
                <span class="position">University San Carlos - Talamban Campus</span>
                <p class="mt-4"></p>
            </div>
            <div class="resume-wrap">
                <h2>Skills</h2>
                <ul>
                    <li>BASIC PROGRAMMER</li>
                    <li>BASIC GUITAR PLAYING</li>
                </ul>
            </div>
            <div class="resume-wrap">
                <h2>Full Stack Developer</h2>
                <span class="position">My Company</span>
                <p class="mt-4"></p>
            </div>
        </div>

        <div class="col-md-6">
            <div class="resume-wrap">
                <span class="date">2018-PRESENT</span>
                <h2>PN Scholar</h2>
                <span class="position">Passerelles Numériques Philippines</span>
                <p class="mt-4"></p>
            </div>
            <div class="resume-wrap">
                <h2>Software</h2>

                <ul>
                    <li>CODEIGNITER</li>
                    <li>ANGULAR</li>
                    <li>JAVA</li>
                    <li>VUEJS</li>
                    <li>LARAVEL</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="counter-wrap d-flex mt-md-3">
        <div class="text">
            <p><a href="#" class="btn">Download CV</a></p>
        </div>
    </div>
</div>