<!-- <h1>this is hobbies page</h1> -->
<link icon="assets/images/logo2.png">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <base href="<?php echo $this->config->base_url(); ?>" /> -->
</head>

<div class="container">
    <div class="card shadow-lg p-3 mb-5 ">
        <div class="inside-card">
            <div class="card-body">
                <img draggable="false" class="rounded-circle" src="assets/images/me1.png" alt="" style="float: left;">
                <div class="right-header">
                    <div class="vl"></div>
                    <!-- <div style="margin-left: 21rem;"> -->
                    <h3 class="myname">JUDILYN S. BUT-ANON</h3>
                    <p class="pink-font">SOFTWARE DEVELOPER
                    </p>
                    <p class="personal-info">
                        <img draggable="false" src="assets/images/phone1.png" alt="phone"> 09385981050
                        <br>
                        <img draggable="false" src="assets/images/mail1.png" alt="mail"> ZIEKIND07@GMAIL.COM
                        <br>
                        <img draggable="false" src="assets/images/baseline_location_on_black_18dp.png" alt="location"> NASIPIT RD., TALAMBN, CEBU CITY, CEBU
                    </p>
                    <!-- </div> -->
                </div>
            </div>

            <hr>

            <div class="card-body">
                <div class="row">
                    <div class="left-side">
                        <div>
                            <img draggable="false" src="assets/images/baseline_school_black_18dp.png" alt="education" class="icons">
                            <h4>EDUCATION</h4>
                            <p class="background-info">UNIERSITY OF SAN CARLOS <br> 2018-2021</p>
                            <hr class="hr4">
                            <p class="background-info">CERTIFICATE IN COMPUTER TECHNOLOGY</p>
                        </div>

                        <hr class="hr3">

                        <div>
                            <img draggable="false" src="assets/images/baseline_verified_black_18dp.png" alt="achievement" class="icons">
                            <h4>ACHIEVEMENTS</h4>
                            <ul>
                                <li>BEST IN CAPSTONE 2021</li>
                                <li>GRADUATED COM LAUDE</li>
                                <li>CONSISTENT DEAN LISTER</li>
                            </ul>
                        </div>

                        <hr class="hr3">

                        <div>
                            <img draggable="false" src="assets/images/baseline_integration_instructions_black_18dp.png" alt="software" class="icons">
                            <h4>SOFTWARE</h4>
                            <p class="background-info">
                                <ul>
                                    <li>CODEIGNITER</li>
                                    <li>ANGULAR</li>
                                    <li>JAVA</li>
                                </ul>
                                <!-- </p> -->
                        </div>
                    </div>

                    <div class="vertical-divider"></div>

                    <div class="right-side">

                        <div>
                            <img draggable="false" src="assets/images/baseline_work_black_18dp.png" alt="experience" class="icons">
                            <h4>EXPERIENCE</h4>
                            <ul>
                                <li>PRIMIUM TECH</li>
                                <p>- FULL STACK DEVELOPER</p>
                                <li>HOUSE OF IT</li>
                                <p>- FULL STACK DEVELOPER</p>
                            </ul>
                        </div>
                        <hr class="hr3">

                        <div>
                            <img draggable="false" src="assets/images/baseline_analytics_black_18dp.png" alt="skills" class="icons">
                            <h4>SKILLS</h4>
                        </div>

                    </div>

                </div>
            </div>

            <hr>
        </div>
    </div>
</div>