body {
    color: #F73AC8;


    
    background-image: linear-gradient(to top, #580360, #55002f, #3d070f, #240c00, #040302);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.card-body {
    margin-bottom: 3rem;
}

.right-header {
    width: 25rem;
    margin-left: 15rem;
    margin-top: 2rem;
}

.style {
    background-color: #ee495d;
}

.pink-font {
    color: #ee495d;
}

h3 {
    font-size: 32;
}

h4 {
    margin-left: 3rem;
}

p.pink-font {
    font-size: 20;
}

.personal-info,
.background-info {
    font-size: 16;
}

.background-info {
    text-align: center;
}

hr {
    border: 0.13rem solid #ffbd4a;
    width: 43rem;
    background-color: #ffbd4a;
}

.hr3 {
    border: 0.13rem solid #ffbd4a;
    margin-left: 0rem;
    width: 17.7rem;
    background-color: #ffbd4a;
}

.hr4 {
    margin-left: 6.2rem;
    border: 0.15rem solid #ffbd4a;
    width: 5rem;
    background-color: #ffbd4a;
}

.hr5 {
    border: 0.13rem solid #ffbd4a;
    margin-left: 0rem;
    width: 21.5rem;
    background-color: #ffbd4a;
}

.icons {
    float: left;
    size: 100rem;
}

.vertical-divider {
    border: 0.13rem solid #ffbd4a;
    height: 30rem;
    margin-left: 1rem;
    margin-top: 0rem;
    background-color: #ffbd4a;
    width: 0;
}

.left-side {
    float: left;
    width: 18rem;
    margin-left: 1rem;
}

.right-side {
    width: 20rem;
    margin-left: 1rem;
    margin-top: 0rem;
}

.left-side,
.right-side,
.myname,
.personal-info {
    color: black;
}

.container {
    height: 45rem;
    width: 49rem;
    padding: 20px;
    margin-top: 3rem;
}

.card {
    width: 46.6rem;
    padding: 20px;
    font-family: 'Oswald', sans-serif;
    background-color: #ffbd4a;
}

.inside-card {
    background-color: #fff5e7;
    text-align: left;
}

.rounded-circle {
    width: 10rem;
    height: 10rem;
    margin: 2rem;
}

.btn {
    background-color : #FF3081;
    font-weight: bold;
}