<!-- <div>
    <app-header></app-header>
</div> -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Judilyn But-anon</title>
</head>

<div>
    <button class="btn btn-success" (click)="onEmail()">Send email using node.js</button> <br>
    <button class="btn btn-success" (click)="onPDF()">download a PDF</button>
</div>


<!-- done with this 

npm install express body-parser cors nodemailer -->


<!-- 
<div>
    <app-footer></app-footer>
</div> -->