
bod {
    height: 100%;
    color: white;
}
.container {
    margin-top: 5rem;
}

.pink-font {
    color: #FF3081;
}

/* div {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 3s;  
    animation-delay: 2s;
    animation-fill-mode: both;
  }
  
  @keyframes example {
    from {top: 200px; background-color: blue;}
    to {top: 0px; background-color: yellow;}
  } */