body {
    font-family: Poppins;
    color: #F73AC8;
    /* background-image: linear-gradient(to bottom, #9b0b76, #a60752, #a32434, #963b1b, #834d08); */
    /* background-image: linear-gradient(to top, #580360, #55002f, #3d070f, #240c00, #040302); */
    background-image: linear-gradient(to bottom, #9b0b76, #a60752, #a32434, #963b1b, #834d08);
    font-family: 'Poppins', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
}