
body {
    height: 100%;
    color: white;
}
.container {
    margin-top: 5rem;
}

.pink-font {
    color: #FF3081;
}

section{
    padding: 5rem;
}

#contact-section{
    background-color: lightblue;
}

.app-contact{
    width: 100%;
}

@media only screen and (max-width: 568px) {
    
}