.justify-content-end {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 2;
    /* font-weight: bold; */
    background-color: black;
}

.nav-item {
    float: right;
    font-family: 'Poppins', sans-serif;
}

.nav-item a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #FF3081
}

.logo {
    height: 50px;
    width: 50px;
}
 