<!-- <h1>this is hobbies page</h1> -->
<header>

    <nav class="navbar navbar-expand-lg navbar-dark site-navbar-target">
        <div class="container">
            <a href="homepage"><img draggable="false" src="../../../assets/images/logo.png" class="logo" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="homepage#about-me-section">About Me</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="homepage#resume-section">Resume</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="homepage#hobbies-section">Hobbies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="homepage#contact-section">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="homepage"><img draggable="false" src="../../../assets/images/logo.png" class="logo" alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="homepage#about-me-section">About Me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="homepage#resume-section">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="homepage#hobbies-section">Hobbies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="homepage#contact-section">Contact</a>
                </li>
            </ul>
        </div>
    </nav> -->
</header>