<!-- <h1>this is hobbies page</h1> -->
<link icon="assets/images/logo2.png">
<header>

    <nav class="navbar navbar-light ">
        <h1>but-anon</h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <!-- <a class="nav-link active" href="<php echo base_url('index.php/pages/view/aboutme') ?>">About Me</a> -->
                <a class="nav-link active" href="#aboutme" [routerLink]="['about']">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#resume" [routerLink]="['resume']">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects" [routerLink]="['projects']">Projects</a>
            </li>
            <li class="nav-item">
                <!-- <a class="nav-link" href="#hobbies">Hobbies</a> -->
                <a class="nav-link" href="#Hobbies" [routerLink]="['hobbies']">Hobbies</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact" [routerLink]="['contact']">Contact</a>
            </li>
        </ul>
    </nav>
</header>